body{
    padding: 0px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: grey;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
    outline: none;
}

input::placeholder {
    text-align: center; 
    font-weight: 400;
    font-size: 15px;
}

input:hover{
    transform: scale(1.01);
    transition: 0.3s ease;
    border: none;
}

#get-data-btn{
    margin: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(23, 97, 236);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    transition: 0.3s;
}

#get-data-btn:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.hidden{
    display: none;
}